.bottom_news {
    position: relative;
    width: 100%;
    height: 450px;
    background-color: #f4f4f4;
}

.down_news_design {
    background-color: #ffffff;
    width: 23%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border: 1px solid rgb(157, 157, 157);
}

.news_title_design {
    font-display: left;
    font-style: bold;
    font-size: 20px;
    font-family: 'Trebuchet MS';
}

.news_subinfo_design {
    font-display: left;
    font-style: italic;
    font-size: 14px;
    font-family: 'Trebuchet MS';
}

.down_news_1 {
    position: absolute;
    left: 12.5%;
    top: 10%;
    background-image: url("https://imgur.com/PwxVnlJ.png");
}

.news_title1 {
    position: absolute;
    left: 3%;
    bottom: 12%;
}

.news_subinfo1 {
    position: absolute;
    left: 3%;
    bottom: 0%;
}

.down_news_2 {
    position: absolute;
    left: 37.5%;
    top: 10%;
    background-image: url("https://imgur.com/PwxVnlJ.png");
}

.news_title2 {
    position: absolute;
    left: 3%;
    bottom: 12%;
}

.news_subinfo2 {
    position: absolute;
    left: 3%;
    bottom: 0%;
}

.down_news_3 {
    position: absolute;
    left: 62.5%;
    top: 10%;
    background-image: url("https://imgur.com/PwxVnlJ.png");
}

.news_title3 {
    position: absolute;
    left: 3%;
    bottom: 12%;
}

.news_subinfo3 {
    position: absolute;
    left: 3%;
    bottom: 0%;
}