body {
    background-color: #183191;
    margin: 0;
}

.bkg_cabecalho {
    position: relative;
    height: 245px;
    background-image: url("https://imgur.com/RLhlA0f.png");
    background-size: cover;
    background-position: center;
}

.img_logo {
    width: 8%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}