.imgx {
    width: 100%;
    height: 100%;
}

html,
head {
    overflow: hidden;
}

.button_design {
    opacity: 50%;
    background-color: black;
    border: none;
}

.prev_button {
    position: absolute;
    top: 45%;
    left: 1%;
    width: 4%;
    height: 10%;
    background-image: url("https://imgur.com/TxjuyZY.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

.next_button {
    position: absolute;
    top: 45%;
    right: 1%;
    width: 4%;
    height: 10%;
    background-image: url("https://imgur.com/DcBNLqo.png");
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center center;
}

.button_design:hover {
    background-color: rgb(60, 60, 60);
    opacity: 70%;
}