.tables {
    position: relative;
    width: 100%;
    height: 895px;
    background-color: #002199;
}

.bkg_tables {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}